body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}

.logo{
    color: #fff;
    font-size: 17.5px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu{
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 42px;
    font-size: 12.5px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.5s ease forwards;
    -o-animation: topshift 0.5s ease forwards;
    animation: topshift 0.5s ease forwards;
    opacity: 0;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}
.title__container{
    
    text-align: center;
    color: #2c384a;
    opacity: 0;
    -webkit-animation: title_conteiner 1s ease forwards;
    -o-animation: title_conteiner 1s ease forwards;
    animation: title_conteiner 1s ease forwards;
    -webkit-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.title__container h1{
    font-size: 72.37px;
    text-align: center;
    font-weight: bold;
}

.title__container h4{
    margin-top: 32px;
    font-size: 15.62px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 14.12px;
    padding: 0px 16px;
    margin: 56px 13px 0px 13px;
}

.about_me_container h2{
    font-size: 25px;
    margin: 110px 0 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
}

.about_me_container hr{
    height: 5px;
    border: none;
    background: #d17700;
    width: 71px;
    margin: 0 auto 60px;
    opacity: 1;
}

.about_me_container{

    padding-bottom: 100px;
}

.about_me_container p{
    font-size: 13.25px;
    font-weight: 200;
    color: #3f495a;
}

.about_me_container a{
    height: 31px;
    text-align: center;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6f707e;
    font-size: 12.5px;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.skills{

    background: url(../img/bg2.jpg) center/cover no-repeat;
}

.skills_container{
    padding-top: 110px;
    padding-bottom: 96px;
}

.skills_container h2{
    text-align: center;
    width: 214px;
    font-size: 25px;
    margin: 0px auto 30px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.skills_container hr{
    height: 5px;
    border: none;
    background: #d17700;
    width: 71px;
    margin: 0 auto 100px;
    opacity: 1;
}

.skills_item img{
    margin-bottom: 20px;
    height: 40px;
}

.skills_item h3{
    font-size: 13.93px;
    font-weight: bold;
    color: #cf7600;
    margin-bottom: 14px;
}

.skills_item p{
    font-size: 12.5px;
    text-align: center;
    white-space: normal;
}

.portfolio_container{
    
}
.portfolio_container h2{
    text-align: center;
    margin-top: 105px;
    text-transform: uppercase;
    color: #384354;
    font-size: 25px;
    font-weight: bold;
    
}

.portfolio_container hr{
    height: 5px;
    border: none;
    background: #d17700;
    width: 71px;
    margin: 0 auto 40px;
    opacity: 1;
    
}

.portfolio_text{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.portfolio_container img{
    width: 100%;
    margin-bottom: 40px;
}

.description_left h3{
    font-size: 18.75px;
    font-weight: bold;
    color: #384354;
    text-transform: uppercase;
    
}

.description_left p{
    font-size: 12.5px;
    margin: 16px 0;   
}

.description_left a{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    
}
.description_right h4{
    font-size: 18.75px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #384354;
}
.description_right p{
    font-size: 15.62px;

}

.calculator_container h2{
    text-align: center;
    color: #384354;
    font-size: 34.37px;
    font-weight: bold;
}

.calculator_container{
    max-width: 980px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.3);

    padding-top: 74px;
    margin-top: 165px;
}


.calculator_container h3{
    margin: 55px 0px 0px 45px;
    font-size: 21.87px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1c2534;
}

.calculator_container select{
    margin: 23px 0px 45px 41px;
    height: 23px;
    border: 0px solid;
    background: #eeeeee;
    padding: 21px 734px 21px 0px;
    width: 890px;
}

.calculator hr{
    height: 2px;
    border: none;
    background: #eee;
    width: 890px;
    margin: 0 auto 24px;
    opacity: 1;
}

.srok_s{
    float: left;
    margin-left: 44px;
    font-size: 15.62px;
}

.cena_c{
    float: right;
}

.srok_f{
    float: none;
}
/*.stoimot{
    float: left;
    height: 19px;
    margin: 21px 0px 0px 497px;
    font-size: 15.62px;
    font-weight: bolder;
}

.cena_dva{
    margin: 17px 0px 0px 1367px;
    font-size: 21.87px;
    font-weight: bolder;
}

.statistic_container{
    margin: 155px 0px 0px 0px;
    width: 100%;
    height: 500px;
    background: url(../img/bg3.jpg) center/cover no-repeat;
}

.statistic_container h2{
    text-align: center;
    padding: 103px 0px 32px 0px;
    text-transform: uppercase;
    color: #384354;
    font-size: 25px;
    font-weight: bold;
}

.statistic_container hr{
    height: 5px;
    border: none;
    background: #d17700;
    width: 71px;
    margin: 0 auto;
}

.statistic_item_klient{   
    float: left;
    margin-left: 441px;
    margin-right: 157px;
    text-align: center;
    padding: 85px 0px 0px 0px;
}

.statistic_item_klient h3{
    margin: 31px 0px 31px 0px;
    font-size: 28.13px;
    font-weight: bold;
    color: #323e4f;
}

.statistic_item_klient p{
    font-size: 12.5px;
    text-transform: uppercase;
    color: #323e4f;
}

.statistic_item_chas{
    float: left;
    margin-right: 153px;
    text-align: center;
    padding: 85px 0px 0px 0px;
}

.statistic_item_chas h3{
    margin: 31px 0px 31px 0px;
    font-size: 28.13px;
    font-weight: bold;
    color: #323e4f;
}

.statistic_item_chas p{
    font-size: 12.5px;
    text-transform: uppercase;
    color: #323e4f;
}

.statistic_item_proekt{
    float: left;
    margin-right: 152px;
    text-align: center;
    padding: 85px 0px 0px 0px;
}

.statistic_item_proekt h3{
    margin: 31px 0px 31px 0px;
    font-size: 28.13px;
    font-weight: bold;
    color: #323e4f;
}

.statistic_item_proekt p{
    font-size: 12.5px;
    text-transform: uppercase;
    color: #323e4f;
}

.statistic_item_nagr{
    float: left;
    text-align: center;
    padding:  85px 0px 0px 0px;
}

.statistic_item_nagr h3{
    margin: 31px 0px 31px 0px;
    font-size: 28.13px;
    font-weight: bold;
    color: #323e4f;
}

.statistic_item_nagr p{
    font-size: 12.5px;
    text-transform: uppercase;
    color: #323e4f;
}

.reviews_container h2{
    text-align: center;
    margin: 107px 0px 32px 0px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #384354;
}

.reviews_container hr{
    height: 5px;
    border: none;
    background: #d17700;
    width: 71px;
    margin: 0 auto;
}

.review img{
    margin: 60px 0px 35px 902px;
}

.opic{
    text-align: center;
    font-size: 12.5px;
    white-space: pre-line;
}

.imya{
    text-align: center;
    margin: 35px 0px 150px 0px;
    font-size: 12.5px;
}

.contacts{
    width: 100%;
    height: 810px;
    background: url(../img/bg4.jpg) center/cover no-repeat;
}

.contacts_container h2{
    text-align: center;
    padding: 105px 0px 32px 0px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.contacts_container hr{
    height: 5px;
    border: none;
    background: #d17700;
    width: 71px;
    margin: 0 auto;
}

.opican{
    text-align: center;
    margin: 31px 0px 0px 0px;
    font-size: 12.5px;
    color: #fff;
}


.contacts_data_geo{
    float: left;
    margin-left: 653px;
    margin-right: 105px;
    text-align: center;
    padding: 44px 0px 0px 0px;
}

.contacts_data_geo p{
    margin: 13px 0px 0px 0px;
    font-size: 12.5ps;
    white-space: pre-line;
    color: #fff;
}

.contacts_data_mail{
    float: left;
    margin-right: 105px;
    text-align: center;
    padding: 44px 0px 0px 0px;
}

.contacts_data_mail p{
    margin: 13px 0px 0px 0px;
    font-size: 12.5ps;
    white-space: pre-line;
    color: #fff;
}

.contacts_data_tel{
    float: left;
    margin-right: 105px;
    text-align: center;
    padding: 44px 0px 0px 0px;
}

.contacts_data_tel p{
    margin: 13px 0px 0px 0px;
    font-size: 12.5ps;
    white-space: pre-line;
    color: #fff;
}

.clearfix{
    clear: both;
}

.sms{
    text-align: center;
    margin: 40px 0px 0px 0px;
    font-size: 15.62px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.text_imya{
    margin: 34px 0px 0px 595px;
    padding: 13px 0px 13px 14px;
    width: 352px;
    background: rgba(220, 224, 230, 0.93);
}

.text_email{
    margin-left: 15px;
    padding: 13px 0px 13px 14px;
    width: 352px;
    background: rgba(220, 224, 230, 0.93);
}

.kommen{
    margin: 15px 0px 0px 595px;
    padding: 9px 0px 0px 14px;
    width: 724px;
    height: 93px;
    background: rgba(220, 224, 230, 0.93);
}

.otprav{
    margin: 30px 0px 0px 896px;
    border: 3px solid #fff;
    padding: 15px 18px 15px 18px;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15.62px;
}

.contacts_social{
    width: 422px;
    margin: 73px auto;
}

.contacts_social a{
    display: block;
    float: left;
    margin: 0 20px;
}

.contacts_social img{
    height: 74px 0px 0px 0px;
}

.map img{
    width: 100%;
    height: 352px; 
}

.footer{
    background: #354051;
    height: 92px;
}

.footer_container{
    text-align: center;
    line-height: 94px;
    color: white;
    font-size: 9.95px;
}*/

.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #ff9100;
    transform: scale(1.1)
}

.title__container input{
    transition: all 0.2s;
    transform: scale(1)
}

.title__container input:hover{
    background: #344051;
    color: white;
    transform: scale(1.1)
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.5s;
}
.menu li:nth-child(3){
    animation-delay: 0.9s;
}
.menu li:nth-child(4){
    animation-delay: 1.3s;
}
.menu li:nth-child(5){
    animation-delay: 1.7s;
}
.menu li:nth-child(6){
    animation-delay: 2.1s;
}

@keyframes title_conteiner{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

.about_me_container a{
    transition: all 0.1s;
    transform: scale(1)
}

.about_me_container a:hover{
    background: #344051;
    color: white;
    transform: scale(1.1)
}

.description_left a{
    transition: all 0.1s;
    transform: scale(1)
}

.description_left a:hover{
    background: #4e938d;
    color: white;
    transform: scale(1.1)
}

.otprav{
    transition: all 0.1s;
    transform: scale(1)
}

.otprav:hover{
    background: #fff;
    color: black;
    transform: scale(1.1)
}

.contacts_social a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.contacts_social a:visited{
    color: white;
}

.contacts_social a:hover{
    color: #fff;
    transform: scale(1.3)
}

.white-btn:visited{
     color: white;
}

@media (max-width: 1200px){
    .title__container, .title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .title__container input{
        border: 2px solid #fff;
    }
    
    .main{
        position: relative;
    }
    
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}