body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    padding-left: 390px;
    float: left;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 42px;
    font-size: 15px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}
.title__container{
    float: left;
    margin: 434px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 32px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 56px 13px 0px 13px;
}

.about_me{
    width: 100%;
    height: 720px;
    background: url(../img/phon2.png) center/cover no-repeat;
}

.about_me_container{
    float: left;
    margin: 110px 0px 0px 597px;
    text-align: center;
}

.about_me_container h2{
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
}

.about_me_container img{
    margin: 95px 0px 0px 0px;
}

.about_me_container p{
    font-size: 14px;
    font-weight: 200;
    margin: 23px 0px 33px 0px;
    text-align: left;
    color: #3f495a;
}

.about_me_container a{
    height: 31px;
    text-align: center;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
    padding: 8px 16px;
}

.skills{
    width: 100%;
    height: 522px;
    background: url(../img/bg2.jpg) center/cover no-repeat;
}

.skills_container{
    float: left;
    text-align: center;
}
.skills_container h2{
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    margin: 108px 0px 138px 245px;
    text-align: center;
}

.skills_item_veb{
    float: left;
    margin-left: 365px;
    margin-right: 84px;
    text-align: center;
}

.skills_item_veb h3{
    margin: 36px 0px 16px 0px;
    font-size: 17px;
    font-weight: bold;
    color: #cf7600;
}

.skills_item_veb p{
    font-size: 15px;
    text-align: center;
    white-space: normal;
}

.skills_item{
    float: left;
    color: #000;
    margin-right: 84px;
    font-size: 19px;
    text-align: center;
}

.skills_item h3{
    margin: 36px 0px 16px 0px;
    font-size: 17px;
    font-weight: bold;
    color: #cf7600;
}

.skills_item p{
    font-size: 15px;
    text-align: center;
    white-space: normal;
}

.portfolio_container h2{
    margin: 105px 0px 0px 913px;
    text-transform: uppercase;
    color: #384354;
    font-size: 27px;
    font-weight: bold;
}

.text_p{
    margin: 74px 0px 40px 615px;
}

.portfolio_container img{
    margin: 0px 364px 41px 390px;
    border: 2px solid #fafbfb;
}

.description_left{
    float: left;
}

.description_left h3{
    margin: 0px 163px 0px 389px;
    font-size: 18px;
    font-weight: bold;
    color: #384354;
    text-transform: uppercase;
}

.description_left p{
    margin: 17px 0px 41px 391px;
    color: #525a69;
    font-size: 14px;
}

.description_left a{
    margin: 16px 0px 0px 391px;
    height: 40px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 16px 43px 16px 43px;
}

.description_right h4{
    margin: 0px 0px 7px 20px;
    font-size: 18px;
}

.description_right p{
    white-space: pre;
    font-size: 14px;
}

.calculator_container h2{
    text-align: center;
    margin: 218px 0px 0px 0px;
    text-transform: uppercase;
    color: #384354;
    font-size: 27px;
    font-weight: bold;
}

.calculator_container h3{
    margin: 55px 0px 0px 498px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1c2534;
}

.calculator_container select{
    margin: 23px 0px 45px 495px;
    height: 23px;
    border: 0px solid;
    background: #eeeeee;
    padding: 21px 734px 21px 0px;
}

.srok{
    height: 17px;
    margin-left: 497px;
    font-size: 18px;
    font-weight: bolder;
}

.cena{
    margin-left: 1367px;
    font-size: 18px;
    font-weight: bolder;
}

.stoimot{
    height: 19px;
    margin-left: 497px;
    font-size: 18px;
    font-weight: bolder;
}

.cena_dva{
    margin-left: 1367px;
    font-size: 18px;
    font-weight: bolder;
}